@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
*,
*:before,
*:after{
   box-sizing:border-box;
}
header{
   background-color: yellow;
}
html,body{
   height:100%;
   padding:0;
   text-align:center;
   font-family: 'Roboto', sans-serif; /* Unique font */
   margin: 0;
   padding: 0;
   background-color: #f0f0f0;
   align-items: center;
   height: 100vh;
   border: 10px solid #333;
   border-radius: 20px; /* Rounded corners */
   background-color: white; /* Background color for the body */
   box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Box shadow for a subtle 3D effect */
  }

button{
   align-items: center;
   padding:10px;
   margin-top: 150px;
   height: 100px;
   width: 100px;
   background-color: purple;
}
button:hover{
   cursor:pointer;
}

        
      
.fa-calendar-alt{
   font-size: 120px;
   color: darkblue;
   margin: 40px
}
body{background-color: #c31d1d;}
#dateDisplay{
   font-size: 24px;
   color: #333;
   text-align: center;
}

.demo{
   width: 10px;
}
h1 {
   color: #FFFFFF;
   font-size: 36px; /* Larger font size */
   margin-bottom: 20px;
   text-transform: uppercase; /* Uppercase text */
   letter-spacing: 2px; /* Increased letter spacing */
   display: inline-block;
}
h2{
   text-align: center;
   color: #FFFFFF;
   font-size: 35px;
   font-family: "Abril Fatface", sans-serif;
}
.date{
   font-size: 25px;
   background-color: black;
   text-decoration: none;
   margin:-10%;
   width: 350px;
   
}
#Checkiday{
   text-align: center;
   background-color: white;
   width: 500px;
   margin:40px auto !important;
   
}
#Checkiday_Footer{
   opacity: 100%;
   background-color: white;
   font-size: 0px;
}
#Checkiday_Date{
   opacity:0%;
   color: white;
   font-size: 0px;
}
.Checkiday{
   background-color: white;
}
.Checkiday_Date{
   background-color: white;
}